<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>App Hubert para Moradores</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>App Hubert para Moradores</string>
	<key>CFBundleIconName</key>
    <string>AppIcon-Hubert</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whatsapp</string>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FUAllFilesUploadedMessage</key>
	<string>Upload realizado com sucesso!</string>
	<key>FUMaximumConnectionsPerHost</key>
	<integer>3</integer>
	<key>FUMaximumUploadOperation</key>
	<integer>3</integer>
	<key>FUTimeoutInSeconds</key>
	<integer>3600</integer>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>O aplicativo necessita ter acesso ao Apple Music do dispositivo</string>
	<key>NSCalendarsUsageDescription</key>
	<string>O aplicativo necessita ter acesso ao calendário do dispositivo</string>
	<key>NSCameraUsageDescription</key>
	<string>Para obtenção da sua imagem de perfil</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to function properly.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Este aplicativo usa o Face ID para uma autenticação segura e rápida para acessar o aplicativo</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>O aplicativo, enquanto utilizado necessita ter acesso à localização do dispositivo.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>O aplicativo, enquanto utilizado necessita ter acesso à localização do dispositivo.</string>
	<key>NSMotionUsageDescription</key>
	<string>O aplicativo necessita ter acesso aos sensores de movimento do dispositivo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Para obtenção da sua imagem de perfil</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>O aplicativo necessita ter acesso ao reconhecimento de voz do dispositivo</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
