<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>50100896020-58g0l5a6fkqv5rojksi50nsfa04itsnb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFjmE-e5zETfM26QgO5TIJ9Kh1Ih96-ec</string>
	<key>GCM_SENDER_ID</key>
	<string>50100896020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hubert.sindico</string>
	<key>PROJECT_ID</key>
	<string>app-lello-sindico</string>
	<key>STORAGE_BUCKET</key>
	<string>app-lello-sindico.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50100896020:ios:a79861a42d97f5c42c8201</string>
</dict>
</plist>