<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50100896020-m6n9j4pct4eqkr4h086j46cck4btl5h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50100896020-m6n9j4pct4eqkr4h086j46cck4btl5h6</string>
	<key>API_KEY</key>
	<string>AIzaSyBFjmE-e5zETfM26QgO5TIJ9Kh1Ih96-ec</string>
	<key>GCM_SENDER_ID</key>
	<string>50100896020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.lello.sindico</string>
	<key>PROJECT_ID</key>
	<string>app-lello-sindico</string>
	<key>STORAGE_BUCKET</key>
	<string>app-lello-sindico.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50100896020:ios:9230ff043b4b9a1e2c8201</string>
</dict>
</plist>